<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sri Lakshmi General Store</title>
</head>
<body>

    <h1>Sri Lakshmi General Store</h1>

    <img src="{{ url_for('static', filename='images/shop1.jpg') }}" width="500">

    <h3>About Shop</h3>

    <p>
        Serving the local community with groceries,
        snacks, beverages and daily essentials.
    </p>

    <h3>Shop Information</h3>

    <p>📍Haranathapuram,Nellore, Andhra Pradesh</p>
    <p>📞 +91 XXXXXXXXXX</p>
    <p>🕒 Open: 7 AM - 10 PM</p>
     <h2>📍 Location</h2>

<a href="https://maps.app.goo.gl/hqbRkQSVnSaQcuGYA" target="_blank">
    <button class="location-btn">View on Google Maps</button>
</a>
<h2>📞 Contact</h2>

<p>📱 +91 98765 11111</p>

<a href="tel:+919876511111">
    <button class="call-btn">📞 Call Now</button>
</a>
    <h3>Popular Products</h3>

    <ul>
        <li>🥤 Soft Drinks</li>
        <li>🍪 Snacks</li>
        <li>💧 Water Bottles</li>
        <li>☕ Tea & Coffee</li>
    </ul>

</body>
</html>